* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: El Messiri, sans-serif;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    background-color: #8ACDEA;
}

#navbar li {
    padding: 10px 20px;
    display: inline;
    color: whitesmoke;
    font-size: 1.2em;
}

#navbar a {
    text-decoration: none;
}

section {
    padding-bottom: 30px;
}

section h2 {
    text-align: center;
    padding: 60px 0;
    font-size: 2.5em;
}

#welcome-section {
    background-color: #114B5F;
    height: 100vh;
    color: #E4FDE1;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

#welcome-section h1 {
    font-size: 2.5em;
    letter-spacing: 0.05em;
    word-spacing: 0.2em;
    font-weight: normal;
    font-family: monospace;
    text-align: center;
    word-wrap: normal;
}

#welcome-section p {
    line-height: 5em;
    font-size: 1.2em;
}

#welcome-section span {
    font-family: cursive;
    font-size: 2em;
}

#skills div{
    margin: 0 auto;
    width: 70%;
}

#skills img {
    width: 100%;
    height: auto;
}

#projects {
    background-color: #E4FDE1;
}

.project-tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact {
    background-color: #028090;
}

#contact h2 {
    color: #E4FDE1;
}

footer {
    padding: 20px;
    text-align: center;
    border-top: solid #E4FDE1;
    background-color: #028090;
    font-size: 1.2em;
    color: ghostwhite;
}

.project-tile {
    width: 33.3%;
    margin-bottom: 30px;
}

.project-tile-content {
    display: inline-block;
    width: 80%;
    border-radius: 5px;
    margin: 10px 10%;
    box-shadow: 1px 1px 2px black;
    /* position: relative; */
}

.project-tile img {
    width: 100%;
    height: auto;
    min-height: 220px;
}

.project-tile p {
    padding: 10px;
    background-color: #45567d;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.project-code-btn {
    background-color: #303841;
    color: wheat;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
}

.project-code-btn:hover .project-code-span {
    display: inline;
}

.project-overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.project-tile-link:hover .project-overlay {
    display: block;
}

#navbar li:hover {
    background-color: #E4FDE1;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-container {
    font-size: 2.5em;
    color: #8ACDEA;
}

@media (max-width: 820px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar li {
        display: block;
        margin: 20px 0;
    }

    #skills div {
        width: 80%;
    }

    #welcome-section {
        padding-top: 17em;
    }

    #welcome-section h1 {
        font-size: 2em;
    }

    #welcome-section p {
        font-size: 1em;
    }

    .project-tile-container {
        flex-direction: column;
    }

    .project-tile {
        width: 100%;
    }

    i {
        font-size: 0.7em;
    }
}